body {
    font-family: "Trebuchet MS", 'Helvetica', sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}
table tr th {
    text-align: left;
    border-bottom: 2px  solid black ;
    border-top: 1px solid black;
    letter-spacing: 0.1em;  /*<--espaçamento entre letras */
}

th , td {
    padding: 7px;
}

.alternado {
    background: #f7f4f4;
}

.preco {
    text-align: right;
}

#legenda , tr:hover {
    background: none;
}

tr:hover {
    background: aquamarine;
}