body {
    font-family: "Trebuchet MS", 'Helvetica', sans-serif;
}

fieldset {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin-bottom: 1em;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    padding: 2px;
}

label:active {
    cursor: none;
}

#area-mensagem {
    width: 100%;
}

#area-mensagem>textarea {
    width: 50%;
}

input[type="text"] {
    width: 15%;
}